<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1>Welcome to Photos</h1>

	<p>This will be our homepage. Make everything functional before adding css.</p>

	<h3>Profile</h3>
	<!-- <p> <a href="/snakes/hiss"/> /snakes/hiss </a></p> -->
	<p> <a href="/profile/test"/> profile page </a></p>


</body>
</html>