<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Upload geoPics</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="/public/javascript/upload.js"></script>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/public/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/public/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  </head>
  <body>
    <nav class="white" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">geoPics</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">Fun</a></li>
        </ul>
        <ul id="nav-mobile" class="side-nav">
          <li><a href="#">Fun</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
    <div id="index-banner" class="parallax-container">
      <div class="section no-pad-bot">
        <div class="container">
          <br><br>
          <h1 class="header center teal-text text-lighten-2">geoPics</h1>
          <div class="row center">
            <h5 class="header col s12 light">Upload Your Photos Here!</h5>
          </div>
          <!-- <div class="dropzone row center">Drag your file here</div> -->
          <div class="row center">
            <form method="post" enctype="multipart/form-data">
              <!-- <input id="download-button" type="file" name="myimage" class="waves-effect waves-light teal lighten-1" /> -->
              <input id="download-button" class="btn-large waves-effect waves-light teal lighten-1" type="file" name="myimage" value="submit" multiple/>
              <input id="submit-button" class="btn-large waves-effect waves-light teal lighten-1" type="submit" name="submit" value="submit">
            </form>
          </div>
          <br><br>
        </div>
      </div>
      <div class="parallax"><img src="/public/background1.jpg" alt="Unsplashed background img 1"></div>
    </div>
    <div class="container">
      <div class="section">
        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
              <h5 class="center">Paraskevas Apostolopoulos</h5>
              <!-- <p class="light center">Paraskevas Apostolopoulos ispum dolor</p> -->
            </div>
          </div>
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons">group</i></h2>
              <h5 class="center">Thomas Rulz</h5>
              <!-- <p class="light center">Thomas Jameson is basically the best</p> -->
            </div>
          </div>
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
              <h5 class="center">George Eng</h5>
              <!-- <p class="light center"> (Almost) Put a map on the page</p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="parallax-container valign-wrapper">
      <div class="section no-pad-bot">
        <div class="container">
          <div class="row center">
            <h5 class="header col s12 light">A simple tool to  your photos</h5>
          </div>
        </div>
      </div>
      <div class="parallax"><img src="/public/background2.jpg" alt="Unsplashed background img 2"></div>
    </div>
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 center">
            <h3><i class="mdi-content-send brown-text"></i></h3>
            <h4>Contact Us</h4>
            <p class="left-align light center">If you would like us to build an amazing website, we'd love to help you get your photos ed</p>
          </div>
        </div>
      </div>
    </div>
    <div class="parallax-container valign-wrapper">
      <div class="section no-pad-bot">
        <div class="container">
          <div class="row center">
            <h5 class="header col s12 light">Easily store and access your photos within a few easy steps</h5>
          </div>
        </div>
      </div>
      <div class="parallax"><img src="/public/background3.jpg" alt="Unsplashed background img 3"></div>
    </div>
    <footer class="page-footer teal">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Company Bio</h5>
            <p class="grey-text text-lighten-4">Thomas tried to lead a team of semi-talented engineers, although he couldn't quite get the project in the right direction</p>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text"></h5>
            <!-- <ul>
              <li><a class="white-text" href="#!">Link 1</a></li>
              <li><a class="white-text" href="#!">Link 2</a></li>
              <li><a class="white-text" href="#!">Link 3</a></li>
              <li><a class="white-text" href="#!">Link 4</a></li>
            </ul> -->
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Connect</h5>
            <ul>
              <li><a class="white-text" href="/">Home</a></li>
              <li><a class="white-text" href="/profile">Create a profile</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        Made by Students at<a class="brown-text text-lighten-3" href="http://galvanize.com"> Galvanize</a>
        </div>
      </div>
    </footer>
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/public/js/materialize.js"></script>
    <script src="/public/js/init.js"></script>
    </body>
  </html>

  <!-- <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="/public/javascript/upload.js"></script>
    <link rel="stylesheet" href="/public/stylesheets/upload.css">
    <title>upload your images</title>
  </head>
  <body>
    <h1>Inside the upload.ejs</h1>
    <form method="post" enctype="multipart/form-data">
      <div class="dropzone">Drag your file here
    </div>
  </form>
    <div class="canvas">
      <form method="post" enctype="multipart/form-data">
        <input type="file" name="myimage" multiple />
        <input type="submit" name="submit" value="submit">
      </form>
    </div>
  </body>

  </html> -->
