<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.4/p5.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript" src="/public/javascript/upload.js"></script>
  <link rel="stylesheet" href="/public/stylesheets/upload.css">
  <title>Document</title>
</head>
<body>
  <h1>Inside the upload.ejs</h1>
  <div class="dropzone">Drag your file here</div>
  <div class="canvas"></div>
  <canvas id="myCanvas" width="200" height="100" style="border:1px solid #000000;">
</canvas>
</body>
</html>
