/*
  ========================================
  box sizing
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*
  ========================================
  classes
  ========================================
*/

.dropzone {
  width: 80%;
  height: 100px;
  margin: auto;
  /*background-color: rgb(218, 223, 225);*/
  border: 3px dashed rgb(0, 0, 0);
}

.dropzoneDrop {
  background-color: rgb(218, 223, 225);
}

.canvas {
  width: 80%;
  height: 200px;
  margin: 5px auto;
  background-color: rgb(253, 227, 167);
  border: 3px solid rgb(0, 0, 0);
}
